$font: "OpenSans", "Arial", sans-serif;

//$desktop_content: 62.39vw;
$desktop_min: 1024px;
//$tablet_max: 1023px;
//$tablet_min: 768px;
//$mobile_max: 767px;
//$mobile_min: 320px;

$main_color: #ffffff;
$second_color: #000000;
$third_color: #009966;
$fourth_color: #006633;
$five_color: #003322;
$six_color: #f0f5f3;

$shadow_first: rgba(41, 54, 66, 0.1);
$shadow_second: rgba(20, 21, 23, 0.6);


